In [1]:
# Isabella Sturm
# 2022-01-22
# Exploratory Data Analysis of NFL and Pro-Football Reference data

In [2]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt

## Data Preparation

In [3]:
# Import the data from
nfl_df = pd.read_csv('nfl_stats_1970_2021.csv')
pfr_df = pd.read_csv('pfr_stats_1976_2021.csv')

In [4]:
nfl_df.head()

,Unnamed: 0,off_passing_Team,off_passing_Att,off_passing_Cmp,off_passing_Cmp %,off_passing_Yds/Att,off_passing_Pass Yds,off_passing_TD,off_passing_INT,off_passing_Rate,...,st_punt-returns_Ret,st_punt-returns_Yds,st_punt-returns_PRet T,st_punt-returns_20+,st_punt-returns_40+,st_punt-returns_Lng,st_punt-returns_FC,st_punt-returns_FUM,st_punt-returns_P Blk,Year
0,0,Redskins Redskins,342,203,59.4,6.9,2357,23,10,90.5,...,27,45,0,0,0,0,0,0,0,1970
1,1,49ers 49ers,383,226,59.0,7.8,2990,25,10,94.7,...,48,550,0,0,0,0,0,0,0,1970
2,2,Chargers Chargers,387,192,49.6,7.6,2936,24,19,75.3,...,31,173,0,0,0,0,0,0,0,1970
3,3,Steelers Steelers,384,150,39.1,6.0,2312,12,32,35.4,...,51,281,0,0,0,0,0,0,0,1970
4,4,Cardinals Cardinals,390,178,45.6,6.9,2689,16,19,62.2,...,41,315,1,0,0,0,0,0,0,1970

In [5]:
pfr_df.head()

,Unnamed: 0,Week,Day,Date,Unnamed: 3,Unnamed: 4,Unnamed: 5,OT,Rec,Unnamed: 8,...,PassY.1,RushY.1,TO.1,Team,SuperBowl,SuperBowlWinner,Year,Offense,Defense,Sp. Tms
0,0,1,Mon,September 13,9:00PM ET,boxscore,L,NaN,0-1,NaN,...,197.0,204.0,3.0,Bills,False,False,1976,NaN,NaN,NaN
1,1,2,Sun,September 19,1:00PM ET,boxscore,L,NaN,0-2,NaN,...,52.0,208.0,1.0,Bills,False,False,1976,NaN,NaN,NaN
2,2,3,Sun,September 26,1:00PM ET,boxscore,W,NaN,1-2,@,...,168.0,170.0,2.0,Bills,False,False,1976,NaN,NaN,NaN
3,3,4,Sun,October 3,1:00PM ET,boxscore,W,NaN,2-2,NaN,...,341.0,161.0,6.0,Bills,False,False,1976,NaN,NaN,NaN
4,4,5,Sun,October 10,1:00PM ET,boxscore,L,NaN,2-3,@,...,63.0,207.0,4.0,Bills,False,False,1976,NaN,NaN,NaN

In [6]:
nfl_df['off_passing_Team'].unique()

array(['Redskins  Redskins', '49ers  49ers', 'Chargers  Chargers',
       'Steelers  Steelers', 'Cardinals  Cardinals', 'Eagles  Eagles',
       'Jets  Jets', 'Giants  Giants', 'Saints  Saints',
       'Patriots  Patriots', 'Vikings  Vikings', 'Dolphins  Dolphins',
       'Raiders  Raiders', 'Rams  Rams', 'Chiefs  Chiefs', 'Colts  Colts',
       'Oilers  Oilers', 'Packers  Packers', 'Lions  Lions',
       'Broncos  Broncos', 'Cowboys  Cowboys', 'Browns  Browns',
       'Bengals  Bengals', 'Bears  Bears', 'Bills  Bills',
       'Falcons  Falcons', 'Buccaneers  Buccaneers', 'Seahawks  Seahawks',
       'Jaguars  Jaguars', 'Panthers  Panthers', 'Ravens  Ravens',
       'Titans  Titans', 'Texans  Texans', 'Football Team  Football Team'],
      dtype=object)

In [7]:
# Update team name from nlf dataset so that it isn't duplicated
nfl_df['off_passing_Team'] = nfl_df['off_passing_Team'].apply(lambda x: x.split('  ')[1])

In [8]:
# Update team name from pro football reference dataset to leave only team name
pfr_df['Team'].unique()

array(['Bills', 'Patriots', 'Dolphins', 'Jets', 'Titans', 'Colts',
       'Bengals', 'Steelers', 'Browns', 'Chiefs', 'Raiders', 'Chargers',
       'Broncos', 'Cowboys', 'Eagles', 'Football Team', 'Giants',
       'Buccaneers', 'Saints', 'Falcons', 'Packers', 'Vikings', 'Bears',
       'Lions', 'Rams', 'Cardinals', '49ers', 'Seahawks', 'Jaguars',
       'Panthers', 'Ravens', 'Texans'], dtype=object)

In [9]:
# Washington Football Team was Redskins through 2019
# Update nfl dataframe so it can be joined with pro football ref
nfl_df.loc[nfl_df['off_passing_Team'] == 'Redskins', 'off_passing_Team'] = 'Football Team'

# Tennessee Titans were the Oilers through 1998
# Update nfl dataframe so it can be joined with pro football ref
nfl_df.loc[nfl_df['off_passing_Team'] == 'Oilers', 'off_passing_Team'] = 'Titans'

In [10]:
nfl_df.head()

,Unnamed: 0,off_passing_Team,off_passing_Att,off_passing_Cmp,off_passing_Cmp %,off_passing_Yds/Att,off_passing_Pass Yds,off_passing_TD,off_passing_INT,off_passing_Rate,...,st_punt-returns_Ret,st_punt-returns_Yds,st_punt-returns_PRet T,st_punt-returns_20+,st_punt-returns_40+,st_punt-returns_Lng,st_punt-returns_FC,st_punt-returns_FUM,st_punt-returns_P Blk,Year
0,0,Football Team,342,203,59.4,6.9,2357,23,10,90.5,...,27,45,0,0,0,0,0,0,0,1970
1,1,49ers,383,226,59.0,7.8,2990,25,10,94.7,...,48,550,0,0,0,0,0,0,0,1970
2,2,Chargers,387,192,49.6,7.6,2936,24,19,75.3,...,31,173,0,0,0,0,0,0,0,1970
3,3,Steelers,384,150,39.1,6.0,2312,12,32,35.4,...,51,281,0,0,0,0,0,0,0,1970
4,4,Cardinals,390,178,45.6,6.9,2689,16,19,62.2,...,41,315,1,0,0,0,0,0,0,1970

In [11]:
# Remove Unnamed: 0 columns from data frame
nfl_df = nfl_df.drop('Unnamed: 0', axis=1)
pfr_df = pfr_df.drop('Unnamed: 0', axis=1)

In [38]:
# Remove columns from nfl dataset
# All special teams data
# All named with 20+, 40+ 1st, 3rd, 4th
nfl_df = nfl_df.drop(nfl_df.filter(regex='\+').columns, axis=1)
nfl_df = nfl_df.drop(nfl_df.filter(regex='1st').columns, axis=1)
nfl_df = nfl_df.drop(nfl_df.filter(regex='4th').columns, axis=1)
nfl_df = nfl_df.drop(nfl_df.filter(regex='3rd').columns, axis=1)
nfl_df = nfl_df.drop(nfl_df.filter(regex='st_').columns, axis=1)
nfl_df.shape

(1528, 82)

In [40]:
# Rename off_passing_Team to Team and drop the other _Team columns
nfl_df = nfl_df.rename(columns={'off_passing_Team': 'Team'})
nfl_df = nfl_df.drop(nfl_df.filter(regex='_Team').columns, axis=1)

In [12]:
# Remove rows from pro football ref df where opp = bye week or date=Playoffs
pfr_df = pfr_df[pfr_df['Date'] != 'Playoffs']
pfr_df = pfr_df[pfr_df['Opp'] != 'Bye Week']
pfr_df.shape

(22822, 29)

In [27]:
# Remove unnecessary columns from pro football ref df
pfr_df = pfr_df.drop(['Week','Day','Unnamed: 3','Unnamed: 4', 
                      'Unnamed: 8', 'Opp', 'Offense', 'Defense', 'Sp. Tms'],
                    axis=1)

In [28]:
pfr_df.columns

Index(['Date', 'Unnamed: 5', 'OT', 'Rec', 'Tm', 'Opp.1', '1stD', 'TotYd',
       'PassY', 'RushY', 'TO', '1stD.1', 'TotYd.1', 'PassY.1', 'RushY.1',
       'TO.1', 'Team', 'SuperBowl', 'SuperBowlWinner', 'Year'],
      dtype='object')

In [29]:
# Create summarized dataframe for pro football reference
# Team, Year, num_wins, num_losses, min_win_score, max_win_score
# min_lose_score, max_lose_score, avg_win_score, avg_loss_score
# min_score_diff, max_score_diff, avg_score_diff
# min_off_pass_yds, max_off_pass_yds, avg_off_pass_yds
# min_off_rush_yds, max_off_rush_yds, avg_off_rush_yds
# min_def_pass_yds, max_def_pass_yds, avd_def_pass_yds
# min_def_rush_yds, max_def_rush_yds, avd_def_rush_yds

def get_summary_df(df):
    summary_df = pd.DataFrame()
    summary_df_temp = pd.DataFrame()
    
    # TODO figure out how to add columns of mismatch length to dataframe

    summary_df['num_wins'] = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['Unnamed: 5'].count() # num_wins
    summary_df['num_losses'] = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['Unnamed: 5'].count() # num_losses
    summary_df.reset_index()
    # Win Score
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['Tm'].min().to_frame('min_win_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['Tm'].max().to_frame('max_win_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['Tm'].mean().to_frame('avg_win_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Lose Score
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['Tm'].min().to_frame('min_lose_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['Tm'].max().to_frame('max_lose_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['Tm'].mean().to_frame('avg_lose_score').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Winning Offense Passing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY'].min().to_frame('min_win_off_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY'].max().to_frame('max_win_off_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY'].mean().to_frame('avg_win_off_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Losing Offense Passing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY'].min().to_frame('min_lose_off_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY'].max().to_frame('max_lose_off_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY'].mean().to_frame('avg_lose_off_pss_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Winning Offense Rushing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY'].min().to_frame('min_win_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY'].max().to_frame('max_win_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY'].mean().to_frame('avg_win_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Losing Offense Rushing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY'].min().to_frame('min_lose_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY'].max().to_frame('max_lose_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY'].mean().to_frame('avg_lose_off_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Winning Defense Passing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY.1'].min().to_frame('min_win_def_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY.1'].max().to_frame('max_win_def_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['PassY.1'].mean().to_frame('avg_win_def_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Losing Defense Passing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY.1'].min().to_frame('min_lose_def_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY.1'].max().to_frame('max_lose_def_pass_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['PassY.1'].mean().to_frame('avg_lose_def_pss_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Winning Defense Rushing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY.1'].min().to_frame('min_win_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY.1'].max().to_frame('max_win_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'W'].groupby(['Team','Year'])['RushY.1'].mean().to_frame('avg_win_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # Losing Defense Rushing Yards
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY.1'].min().to_frame('min_lose_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY.1'].max().to_frame('max_lose_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    summary_df_temp = df[df['Unnamed: 5'] == 'L'].groupby(['Team','Year'])['RushY.1'].mean().to_frame('avg_lose_def_rush_yds').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # SuperBowl (made it to SuperBowl)
    summary_df_temp = df.groupby(['Team','Year'])['SuperBowl'].min().to_frame('SuperBowl').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])
    # SuperBowlWinner (won Super Bowl)
    summary_df_temp = df.groupby(['Team','Year'])['SuperBowlWinner'].min().to_frame('SuperBowlWinner').reset_index()
    summary_df = summary_df.merge(summary_df_temp, on=['Team','Year'])                     

    return summary_df

pfr_summary_df = get_summary_df(pfr_df)
pfr_summary_df.head()

,Team,Year,num_wins,num_losses,min_win_score,max_win_score,avg_win_score,min_lose_score,max_lose_score,avg_lose_score,...,max_lose_def_pass_yds,avg_lose_def_pss_yds,min_win_def_rush_yds,max_win_def_rush_yds,avg_win_def_rush_yds,min_lose_def_rush_yds,max_lose_def_rush_yds,avg_lose_def_rush_yds,SuperBowl,SuperBowlWinner
0,49ers,1976,8,6,15.0,37.0,23.875000,3.0,21.0,13.166667,...,283.0,135.500000,54.0,170.0,107.750000,120.0,199.0,154.000000,False,False
1,49ers,1977,5,9,10.0,28.0,17.600000,0.0,35.0,14.666667,...,257.0,145.666667,69.0,164.0,124.800000,52.0,208.0,138.333333,False,False
2,49ers,1978,2,14,6.0,28.0,17.000000,7.0,28.0,13.214286,...,255.0,168.357143,103.0,113.0,108.000000,62.0,256.0,153.357143,False,False
3,49ers,1979,2,14,20.0,23.0,21.500000,9.0,28.0,18.928571,...,338.0,203.571429,52.0,95.0,73.500000,71.0,222.0,147.571429,False,False
4,49ers,1980,6,10,12.0,38.0,26.333333,10.0,26.0,16.200000,...,304.0,208.900000,47.0,143.0,87.833333,138.0,234.0,169.100000,False,False

In [30]:
pfr_summary_df.shape

(1381, 36)

In [41]:
for col in nfl_df.columns:
    print(col)

Team
off_passing_Att
off_passing_Cmp
off_passing_Cmp %
off_passing_Yds/Att
off_passing_Pass Yds
off_passing_TD
off_passing_INT
off_passing_Rate
off_passing_Lng
off_passing_Sck
off_passing_SckY
off_rushing_Att
off_rushing_Rush Yds
off_rushing_YPC
off_rushing_TD
off_rushing_Lng
off_rushing_Rush FUM
off_receiving_Rec
off_receiving_Yds
off_receiving_Yds/Rec
off_receiving_TD
off_receiving_Lng
off_receiving_Rec FUM
off_scoring_Rsh TD
off_scoring_Rec TD
off_scoring_Tot TD
off_scoring_2-PT
off_downs_Scrm Plys
def_passing_Att
def_passing_Cmp
def_passing_Cmp %
def_passing_Yds/Att
def_passing_Yds
def_passing_TD
def_passing_INT
def_passing_Rate
def_passing_Lng
def_passing_Sck
def_rushing_Att
def_rushing_Rush Yds
def_rushing_YPC
def_rushing_TD
def_rushing_Lng
def_rushing_Rush FUM
def_receiving_Rec
def_receiving_Yds
def_receiving_Yds/Rec
def_receiving_TD
def_receiving_Lng
def_receiving_Rec FUM
def_receiving_PDef
def_scoring_FR TD
def_scoring_SFTY
def_scoring_INT TD
def_downs_Scrm Plys
def_tackles_Sck
def_tackles_Comb
def_tackles_Asst
def_tackles_Solo
def_fumbles_FF
def_fumbles_FR
def_fumbles_FR TD
def_fumbles_Rec FUM
def_fumbles_Rush FUM
def_interceptions_INT
def_interceptions_INT TD
def_interceptions_INT Yds
def_interceptions_Lng
Year

In [23]:
nfl_df.shape

(1528, 178)